body {
  background-color: rgb(143, 177, 197);
}
/* КОнтейнер хедера */
.hcontainer {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 90%;
  height: 6rem;
  border: 1px solid #b1bbb7;
  background-color: #b1bbb7;
  margin-left: auto;
  margin-right: auto;
}
/* Блоки в контейнері */
.elcontainer1 {
  width: 5.9rem;
  height: 5.5rem;
  border-radius: 10%;
  margin-left: 1%;
}
.elcontainer2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
  margin-left: 5%;
  text-align: center;
  align-self: center;
  flex-shrink: 10;
}
.elcontainer3input {
  width: 15rem;
  height: 2rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.3rem;
}
.dsearch {
  font-size: 1.5rem;
  margin-left: 2%;
}
.binput {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}
.binput:hover {
  color: red;
  background-color: rgb(172, 199, 186);
  transition: all 0.2s;
}
/* відступ */
.mleft1 {
  margin-left: 12%;
  cursor: pointer;
}
.mleft2 {
  margin-left: 2%;
  cursor: pointer;
}
/* Бігуча стрічка */
.marquee {
  width: 90%;
  height: 2rem;
  border: 1px solid rgb(241, 241, 14);
  background-color: rgb(241, 241, 14);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

.marquee span {
  color: #2116be;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 16s infinite linear;
  animation: marquee 16s infinite linear;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
/* Фон для бургер меню */
.bfburger {
  /* display: flex; */
  width: 90%;
  height: 2rem;
  border: 1px solid #b1bbb7;
  margin: 0 auto;
  background-color: #b1bbb7;
  /* justify-content: start; */
  /* align-items: center; */
}

/* МІй бургер */
/* Скриваємо чекбокс */
#menu_toggle {
  display: none;
}
/* стилизуем кнопку */
.menu_btn {
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 26px;
  /* border: 1px solid rgb(0, 0, 0); */
  margin-top: 2px;
  margin-left: 10px;
  cursor: pointer;
}
/* добавляем "гамбургер" */
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  top: 12px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.menu_btn > span::before {
  content: "";
  top: -8px;
}
.menu_btn > span::after {
  content: "";
  top: 8px;
}
/* контейнер меню */
.menu_box {
  display: block;
  visibility: hidden;
  width: 300px;
  margin-top: 2rem;
  padding: 10px 10px;
  list-style-type: none;
  text-align: start;
  background-color: #93cdd1;
  box-shadow: 1px 1px 5px rgba(82, 205, 226, 0.2);
}

/* элементы меню */
.menu_item {
  display: block;
  padding: 6px 24px;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #ccf1f1;
}
.menu_item:hover {
  background-color: #ccf1f1;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  left: 0;
}


/* Все що стосується картинок  */
/* контейнер для картинок */
.containerimage {
  display: grid;
  grid-template-columns: 320px 1fr 1fr 1fr;
  grid-template-rows: 200px 100px;
  margin: 0 auto;
  width: 90%;
  gap: 25px;
}
.containerimage div {
  /* border: 1px solid red; */
  /* text-align: center; */
  line-height: auto;
}
.containerimage div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.containerimage div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 5;
}
.containerimage div:nth-child(2) {
  background-image: url(https://github.com/MyroslavLeshchuk/hw-ws-c/blob/master/geodesisite/img/003_we_are_work.jpg?raw=true);
  background-size: cover;
}

/* Блок Купляйте в нас  */
.elementu_kontainer {
  border: 1px solid rgba(183, 199, 190, 0.466);
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(71, 180, 118, 0.466),
    -2px -2px 5px rgba(71, 180, 118, 0.466);
 
}
.img_el {
  position: relative;
  margin-left: 10px;
  margin-top: 16px;
}
.display_id{
  position: absolute;
  top: 0px; 
  left: 65px;
  width: 140px;
  height: 50px;
  /* border: 1px solid red; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}
.display_id span{
  font-weight: 300;
  font-size: 13px;
}
/* для стрілки */
.forstrilka{
  width: 300px;
  height: 300px;
  transform: rotate(-10deg);
  /* border: 1px solid rebeccapurple; */
  /* position: relative; */
}
.imgwraper{
  position:relative;
  top: -450px;
  
}
.imgwraper>img {
  width: 300px;
  height: 300px;
  transform: rotate(-10deg);
}
#menu_toggle:checked ~ .imgwraper {
  visibility:hidden;
  }
.visib_hidden{
  /* display: none; */
  visibility: hidden;
}